{% extends "network/layout.html" %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'network/follower.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column align-items-center py-5">
            <h1>{{ username }}</h1>
            <h5>{{ follower_count }} followers</h5>
            {% if user.is_authenticated and user.id != post_user_id %}
                {% csrf_token %}
                {% if followed %}
                    <button class="btn btn-primary btn-sm" id="follow-btn" data-type="unfollow" data-user_id="{{ post_user_id }}">Unfollow</button>
                {% else %}
                    <button class="btn btn-primary btn-sm" id="follow-btn" data-type="follow" data-user_id="{{ post_user_id }}">Follow</button>
                {% endif %}
            {% endif %}
        </div>

        {% include "network/post.html" %}
    </div>
{% endblock %}